*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    width: 100%;
    max-width: 1600px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
  }
  
  .navbar{
    width: 100%;
    height: 80px;
    padding: 30px;
    /* background-color: #01061D; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .navbar .logo{
    color: #404040;
    font-size: 28px;
    font-weight: 600;
  }
  
  .navbar .links{
    list-style: none;
    display: flex;
    color: #404040;
    cursor: pointer;
    align-items: center;
  }
  
  .navbar .links li{
    margin: 0 15px;
    font-size: 14px;
    font-weight: 600;
  }
  
  .navbar .toggle-icon{
    display: none
  }
  
  @media(max-width: 872px){
    .navbar {
      position: relative;
      transition: 0.5s all ease-in-out;
    }

    @media(max-width: 872px){
        .darkMode {
          margin-left: 0px;
        }
    }

    @media(max-width: 792px){
      .flex.flex-wrap.justify {
        justify-content: center;
      }
  }

    .navbar.expanded{
      height: 60vh;
    }
  
    .navbar.expanded .links {
      position: absolute;
      top: 120px;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 1;
    }

    .navbar.expanded .logo {
         position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 1;
      }
  
    .navbar.expanded .links li{
      margin: 15px 0;
      font-size: 24px;
      justify-content: center;
      align-items: center;
    }
  
    .navbar .logo{
      position: absolute;
      top: 23px;
      left: 20px;
    }
  
    .navbar .toggle-icon{
      display: block;
      color: #404040;
      position: absolute;
      top: 28px;
      right: 20px;
    }
  
    .navbar .links{
      position: absolute;
      top: -300px;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
  
    .navbar .links li{
      margin: 15px 0;
      font-size: 24px;
    }
  }

  .p-5.border-solid {
    border-top: 1px solid black;
  }

  .rounded-t-lg {
    height: 311px;
    width: 334px;
  }
